.wapping{
    max-width: 1500px;
    margin: auto;
    background-color: #fff;
}
.menu{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.menu ul{
    text-align: center;
    list-style: none;
   display: flex;
}
.menu ul li a{
    padding: 20px 30px;
    color: white;
    display: block;
}
.row-3{
    display: flex;
}
.bigger-div{
    flex-basis: 80%;
}
.row-4{
    display: flex;
    margin-top: 25px;
}
.row-4-item{
    border: 1px solid red;
    flex: 1 0 0%;
    
}
.row-4-item p{
    margin: 10px;
}
.row4-bigger{
    flex-grow: 3;
}

.border-div{
    display: flex;
    width: 400px;
    height: 400px;
    border: 2px solid green;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.center-div{
    display: flex;
    height: 80px;
    width: 100px;
    background-color: red;
    color: white;
   align-items: center;
    justify-content: center;
}